
body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

button {
  margin: 5px;
}

.columns-container {
  margin-top: 20px;
}
.board-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
